{{ define "content" }}

<div class="flex flex-col h-[100vh] md:flex-row">
    <!-- Левый блок -->
    <div class="h-full w-full md:w-1/2 p-8 flex flex-col bg-gray-200 justify-center">
    </div>
    <!-- Правый блок -->
    <div class="w-1/2 h-full bg-white mx-auto flex">
        <div class="flex flex-col justify-center items-start w-4/5 h-[35%] p-8 gap-3 mx-2">
            <h1 class="font-medium tracking-widest text-2xl">Budget Buddy</h1>
            <p class="font-medium text-lg">Это удобное и простое в использовании веб-приложение для отслеживания
                личных расходов и управления финансами. Оно создано, чтобы помочь вам контролировать свои финансы,
                легко анализировать траты и планировать бюджет.</p>
            <nav>
                <a href="/registration"
                    class="bg-gray-600 text-white rounded-md text-base text-start px-8 flex py-2 hover:bg-gray-700">Попробовать
                </a>
            </nav>
        </div>
    </div>
</div>

{{ end }}
