{{ define "content" }}
<div class="h-screen">
    <div class="h-3/4 flex flex-col justify-center items-center w-full">
        <div class="w-1/3 flex flex-col bg-white rounded-xl p-8 gap-3">
            <h1 class="text-xl font-medium">Авторизация</h1>

            {{ if .Error }}
                <p class="text-red-600 font-semibold text-sm"> {{ .Error }} </p>
            {{ end }}

            <form class="flex flex-col gap-3" action="/auth" method="POST">
                <p class="tracking-wide text-base">Почта</p>
                <input name="email" type="email" class="w-full px-2 h-8 formcolor rounded-md text-sm" required>

                <p class="tracking-wide text-base">Пароль</p>
                <input name="password" type="password" class="w-full px-2 h-8 formcolor rounded-md text-sm" required>

                <!-- Кнопка отправки -->
                <button type="submit" class="bg-gray-600 text-white rounded-md tracking-wider text-lg w-full flex justify-center items-center py-2 shadow-md hover:bg-gray-700">Войти</button>
            </form>
            
            <div class="flex flex-row text-sm">
                <p class="mr-2">Нет аккаунта?</p>
                <a href="/registration" class="underline">Регистрация</a>
            </div>
        </div>
    </div>
</div>
{{ end }}
