{{ define "content" }}
<div class="px-4 lg:gap-6 gap-4 lg:my-10 my-6 flex md:flex-row flex-col container mx-auto">
    <!-- Боковое меню -->
    <aside class="md:w-1/5">
        {{ template "menu" . }}
    </aside>

    <!-- Основной контент -->
    <main class="bg-white  border-gray-600 rounded-lg md:w-4/5 w-full shadow-sm px-8 py-6">
        <h1 class="text-3xl font-semibold mb-6 text-gray-800">Настройки</h1>

        <!-- Форма для добавления/удаления категорий -->
        <div class="mb-8">
            <h2 class="text-xl font-semibold mb-4 text-gray-800">Управление категориями</h2>
            <form action="/categories/add" method="POST" class="flex items-center gap-4 mb-6">
                <input type="text" id="newCategory" name="category"
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg text-base focus:outline-none focus:ring-2 focus:ring-gray-700"
                    placeholder="Введите название категории" required>
                <button type="submit"
                    class="px-6 py-2 bg-gray-700 text-white rounded-lg hover:bg-gray-800 focus:outline-none">
                    Добавить
                </button>
            </form>

            <!-- Список категорий -->
            <ul class="space-y-4">
                {{ if .User.Categories }}
                {{ range .User.Categories }}
                <li
                    class="flex justify-between items-center border-b pb-2 hover:bg-gray-50 transition-colors duration-200">
                    <span class="text-gray-700 font-medium truncate">{{ .Name }}</span>
                    <form action="/categories/delete" method="POST" class="flex">
                        <input type="hidden" name="categoryId" value="{{ .ID }}">
                        <button type="submit" class="text-red-500 hover:text-red-700 font-bold">&times;</button>
                    </form>
                </li>
                {{ end }}
                {{ else }}
                <li class="text-gray-600 italic">Категории не найдены</li>
                {{ end }}
            </ul>
        </div>

        <!-- Форма для установки бюджета -->
        <div>
            <h2 class="text-xl font-semibold mb-4 text-gray-800">Установить месячный бюджет</h2>
            <form action="/budget/set" method="POST">
                <label class="block text-lg font-medium text-gray-700 mb-2" for="monthlyBudget">Месячный бюджет</label>
                <input type="number" id="monthlyBudget" name="budget"
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg text-base focus:outline-none focus:ring-2 focus:ring-gray-700"
                    placeholder="Введите сумму" step="0.01" required>
                <button type="submit"
                    class="mt-6 px-6 py-2 bg-gray-700 text-white rounded-lg hover:bg-gray-800 focus:outline-none">
                    Сохранить
                </button>
            </form>
            <p class="mt-6 text-gray-600">Текущий бюджет: <span
                    class="text-gray-800 font-bold">{{ .User.MonthlyBudget }} &#8381</span></p>
        </div>
    </main>
</div>
{{ end }}
