{{ define "content" }}
<div class="w-full h-custom flex flex-col justify-center items-center bg-gray-100">
    <form action="/register" method="post"
        class="w-full max-w-lg flex flex-col bg-white rounded-lg p-8 gap-3 shadow-sm">
        <h1 class="text-4xl font-bold text-gray-800">Регистрация успешна!</h1>
        <p class="mt-4 text-lg text-gray-700 text-center">
            Спасибо за регистрацию! Вы успешно создали учетную запись в Budget Buddy.
        </p>
        <p class="mt-4 text-lg text-gray-700 text-center">
            Теперь вы можете начать отслеживать свои расходы и управлять финансами!
        </p>
        <a href="/login" class="mt-6 bg-gray-800 text-white flex justify-center rounded-md text-lg px-6 py-3 hover:bg-gray-900 transition duration-200">
            Войти
        </a>
        <a href="/" class="mt-2 text-gray-600 hover:underline">Вернуться на главную</a>
    </form>
</div>
{{ end }}
